body{
    margin: 0 !important;
    padding: 0 !important;
}

/* NAVBAR */
.navbar{
    background-color: #333 !important;
    border-bottom: 1px solid black !important;
}

.navbar-nav{
    margin: auto !important;
}

.navbar-brand{
    font-weight: bold !important;
    font-size: 2em !important;
}

.nav-link{
    color: white !important;
    font-size: 1.5em !important;
    letter-spacing: 2px !important;
}

/*Botão Adicionar*/

.add-div{
    background-color: blue !important;
    color: white !important;
    padding: 0.5em !important;
    border-radius: 5px !important;
}

#add-button{
    text-decoration: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

/*Main*/
.list-div{
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.barra{
    margin-top: 1em !important;
}

.input-group-btn{
    border: 1px solid rgba(0, 0, 0, 0.206) !important;
    border-radius: 5px !important;
}

/*Lista*/

.item{
    border-bottom: 1px dotted black !important;
    height: 3em !important;
    font-size: 2em !important;
    margin-top: 1em !important;
}

.fa.fa-trash{
    color: red !important;
}
.fa.fa-edit{
    color: green !important;
}

.icones{
    text-align: end !important;
}

.link{
    text-decoration: none !important;
}

footer{
    background-color: #333 !important;
    border-top: 2px solid black !important;
    color: white !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0.8em !important;
}