{% extends 'base.html' %}

{% block title %} Lista {% endblock%}

{% block content %}

<div class="list-div">
    <h1>Lista de Tarefas</h1>
    <div class="row barra">
        <div class="col-sm-2">
            <a id="add-button" href="novaTarefa/">
                <div class="add-div">
                    <i class="fa fa-plus"></i>Adicionar Tarefa
                </div>

            </a>

        </div>
        <div class="col-sm-10">
            <form method="get" id="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar" name="search" value="">
                    <div class="input-group-btn">
                        <button class="btn btn-default" id="search-btn" type="submit"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>


    {% for tarefa in tarefas %}
    <div class="row item">
        <div class="col-sm-10">
            <span><a class="link" href="/tarefa/{{tarefa.id}}">{{tarefa.titulo}}</a></span>
        </div>
        <div class="col-sm-2 icones">
            <a href="edit/{{tarefa.id}}"><span><i class="fa fa-edit"></i></span></a>
            <a href="delete/{{tarefa.id}}" class="delete-btn"><span><i class="fa fa-trash"></i></span></a>
        </div>
    </div>
    {% endfor%}


</div>

{% endblock %}